.login-container {
    background: gray;
    border-radius: 1rem;
    margin: 12rem auto;
    padding: 2rem;
    max-width: 30rem;
}

@media (max-width: 576px) {
    .login-container {
        margin: 2rem auto;
    }
}

.login-container form a  > button{
    width: 100%;
}

.login-container form a {
    text-decoration: none;
    color: unset;
}