body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-links {
    width: 100%;
}


.right-align {
    margin-left: 0;
}

@media (min-width: 576px) {
    .right-align {
        margin-left: auto;

    }
}

@media (max-width: 910px) {
    footer p {
        font-size: 5vw !important;
    }

}

footer {
    max-height: 40rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

footer > img {
    width: 100%;
}

.center-text-on {
    width: fit-content;
    border-radius: 4rem;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

#main-video{
    width: 100%;
    margin-bottom: -6px;
}

@media (max-width: 420px) {
    #main-video{
        height: 100%;
        width: 120%;
    }
}

.typewriter h1 {
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

