h1 {
    text-align: center;
}

hr {
    border: 2px solid;
    margin: auto;
    width: 80%;
}

#kolegijautocomplete-list {
    border: 2px solid black;
    border-top: 0;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    background: white;
    max-height: 25rem;
    overflow: scroll;
}

#kolegijautocomplete-list div {
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#kolegijautocomplete-list div:hover {
    background: #e9e9e9;
}

#kolegij-table {
    width: 35%;
}

#submit-kolegiji {
    height: 2.5rem;
}

.search-side {
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: start;
}

.nastavni-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.nastavni-container > div {
    padding: 2rem;
    width: 30%;
}

.kolegij-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
}

.kolegij-modal-text {
    text-align: center;
}

.form-floating {
    max-width: 25rem;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 6px 6px;
}

table.greyGridTable tbody td {
    font-size: 13px;
}

table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 2px solid #333333;
}

table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 2px solid #333333;
}

table.greyGridTable tfoot td {
    font-size: 14px;
}

@media (max-width: 767px) {
    .hide-phone {
        display: none;
    }
}

@media (max-width: 1260px) {
    .nastavni-container {
        flex-direction: column;
    }

    .list-side {
        width: 100% !important;
        overflow: scroll;
    }

    #kolegij-table {
        width: 100% !important;
    }

    .search-side {
        width: 100% !important;
        justify-content: center;
    }


}