h1{
    text-align: center;
}

hr{
 border: 2px solid;
    margin: auto;
    width: 80%;
}

#kolegijautocomplete-list{
    border: 2px solid black;
}

#kolegij-table{
    max-width: 35%;
}

.nastavni-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.nastavni-container>div{
    padding: 2rem;
    min-width:30% ;
}

@media (max-width: 767px) {
    .nastavni-container{
        flex-direction: column;
    }
    .list-side{
        width: 100%;
        overflow: scroll;
    }
}

.form-floating{
    max-width: 25rem;
    margin: auto;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 6px 6px;
}
table.greyGridTable tbody td {
    font-size: 13px;
}

table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 2px solid #333333;
}
table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 2px solid #333333;
}
table.greyGridTable tfoot td {
    font-size: 14px;
}