.novosti-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 15vh 0 15vh 0;
  gap: 2rem;
}

.card{
    width: 20rem;
}

.novost-naslov{
    margin-top: 5vh


}
.carousel{
    margin: 5vh 0 5vh 0;
}

@media (max-width: 768px) {
  .novosti-container {
    flex-direction: column;
    align-items: center;
  }
}
